body {
  text-align: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper-negara {
  display:flex;
  flex-wrap: wrap;
}

.list-negara {
  margin: 10px;
  display:flex;
  flex-direction: column;
}

img {
  width: 150px;
  height: 100px;
}